In [2]:
# Dependencies
from pathlib import Path
import pandas as pd

In [3]:
# Create a path variable to the data.
path = Path('Resources/tas_employment.csv')

In [4]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(path)

In [5]:
# Preview of the DataFrame
# Note that OCCUP_INDEX appears to be duplicating OCCUP
df.head()

,NAME,AGE,OCCUP,YEAR,NAME_RANK,EMPLOY_DATE,EMPLOYER,OCCUP_INDEX,RECORD_URL
0,"Crowther, Edward Lodewyk",33.0,Doctor of Medicine,1878,Commanding Officer,23 Apr 1878,Southern Volunteer Artillery,Doctor of Medicine,https://stors.tas.gov.au/NI/1517087
1,"Crowther, William L",63.0,Doctor of Medicine,1878,Surgeon Major,10 May 1878,Southern Volunteer Artillery,Doctor of Medicine,https://stors.tas.gov.au/NI/1517088
2,"Roblin, Thomas",50.0,Curator of Museum,1878,Lieutenant,23 Apr 1878,Southern Volunteer Artillery,Curator of Museum,https://stors.tas.gov.au/NI/1517089
3,"Lewis, D",NaN,Merchant,1878,Major Paymaster,23 Apr 1878,Southern Volunteer Artillery,Merchant,https://stors.tas.gov.au/NI/1517090
4,"Green, William Patrick",NaN,Gentleman,1878,Quartermaster Captain,16 Aug 1878,Southern Volunteer Artillery,Gentleman,https://stors.tas.gov.au/NI/1517091

In [6]:
# Delete column we don't want
del df['OCCUP_INDEX']
df.head()

,NAME,AGE,OCCUP,YEAR,NAME_RANK,EMPLOY_DATE,EMPLOYER,RECORD_URL
0,"Crowther, Edward Lodewyk",33.0,Doctor of Medicine,1878,Commanding Officer,23 Apr 1878,Southern Volunteer Artillery,https://stors.tas.gov.au/NI/1517087
1,"Crowther, William L",63.0,Doctor of Medicine,1878,Surgeon Major,10 May 1878,Southern Volunteer Artillery,https://stors.tas.gov.au/NI/1517088
2,"Roblin, Thomas",50.0,Curator of Museum,1878,Lieutenant,23 Apr 1878,Southern Volunteer Artillery,https://stors.tas.gov.au/NI/1517089
3,"Lewis, D",NaN,Merchant,1878,Major Paymaster,23 Apr 1878,Southern Volunteer Artillery,https://stors.tas.gov.au/NI/1517090
4,"Green, William Patrick",NaN,Gentleman,1878,Quartermaster Captain,16 Aug 1878,Southern Volunteer Artillery,https://stors.tas.gov.au/NI/1517091

In [7]:
# Identify incomplete rows
df.count()

NAME           4325
AGE             811
OCCUP          3738
YEAR           4172
NAME_RANK       675
EMPLOY_DATE     852
EMPLOYER        877
RECORD_URL     4325
dtype: int64

In [8]:
# Drop all rows with missing information
df_dropna = df.dropna()

In [9]:
# Verify dropped rows
df_dropna.count()

NAME           612
AGE            612
OCCUP          612
YEAR           612
NAME_RANK      612
EMPLOY_DATE    612
EMPLOYER       612
RECORD_URL     612
dtype: int64

In [29]:
# The YEAR column is the wrong data type. It should be an integer.
df_dropna.dtypes

NAME            object
AGE            float64
OCCUP           object
YEAR            object
NAME_RANK       object
EMPLOY_DATE     object
EMPLOYER        object
RECORD_URL      object
dtype: object

In [30]:
# Use df.astype() method to convert the datatype of the YEAR column

df_cleaned = df_dropna.astype({'YEAR' : int})
df_cleaned.dtypes

NAME            object
AGE            float64
OCCUP           object
YEAR             int32
NAME_RANK       object
EMPLOY_DATE     object
EMPLOYER        object
RECORD_URL      object
dtype: object

In [31]:
# Verify that the YEAR column datatype has been made an integer
df_cleaned.dtypes

NAME            object
AGE            float64
OCCUP           object
YEAR             int32
NAME_RANK       object
EMPLOY_DATE     object
EMPLOYER        object
RECORD_URL      object
dtype: object

In [32]:
df_cleaned['OCCUP'].describe()

count       612
unique      169
top       Clerk
freq         85
Name: OCCUP, dtype: object

In [33]:
# Display an overview of the OCCUP column
df_cleaned['OCCUP'].value_counts()

OCCUP
Clerk                           85
Labourer                        41
Bootmaker                       40
Carpenter                       30
Blacksmith                      23
                                ..
Barrister at Law                 1
Coach Trimmer                    1
Fitter and turner on railway     1
Brewer                           1
Engine Driver                    1
Name: count, Length: 169, dtype: int64

In [41]:
# Clean up OCCUP category. Replace 'Laborer' with 'Labourer',
# 'Stone Mason' with 'Stonemason', 'Boot Maker' with 'Bootmaker'
# 'Coachtrimmer' with 'Coach Trimmer', and 'None' with 'None at present'

df_cleaned['OCCUP'].replace({'Laborer':'Labourer',
                        'Stone Mason':'Stonemason'})

df_cleaned['OCCUP'].replace({'Boot Maker' : 'Bootmaker'})


df_cleaned['OCCUP'].replace({'Coachtrimmer' : 'Coach Trimmer',
                           'None' : 'None at present'})

0       Doctor of Medicine
1       Doctor of Medicine
2        Curator of Museum
6                    Clerk
7      Licensed Victualler
              ...
708               Engineer
709             Blacksmith
710             Stonemason
711          Engine Driver
712      Drapers Assistant
Name: OCCUP, Length: 612, dtype: object

In [42]:
# Verify clean-up.
df_cleaned['OCCUP'].value_counts()

OCCUP
Clerk                           85
Labourer                        41
Bootmaker                       40
Carpenter                       30
Blacksmith                      23
                                ..
Barrister at Law                 1
Coach Trimmer                    1
Fitter and turner on railway     1
Brewer                           1
Engine Driver                    1
Name: count, Length: 169, dtype: int64

In [37]:
# Display a statistical overview
# We can infer the maximum allowable individual contribution from 'max'
df_cleaned.describe()

              AGE         YEAR
count  612.000000   612.000000
mean    22.166667  1884.668301
std      6.175157     6.232493
min     16.000000  1843.000000
25%     18.000000  1879.000000
50%     20.000000  1883.000000
75%     24.000000  1889.000000
max     71.000000  1899.000000

In [38]:
# Save the clean DataFrame to a CSV file without the index.
df_cleaned.to_csv('test_csv.csv', index =False)